{% extends 'base.html.twig' %}

   {% block body %}
   
    <body>
       <header class="cd-header">
		<div class="cd-logo"><a href="/sim/web/app_dev.php/"><img src="{{asset('img/cd-logo.svg')}}" alt="Logo"></a></div>

		<nav>
			<ul class="cd-secondary-nav">
				{% if app.session.get('login')==null %}
                                    <li><a href="logare">Log In</a></li>
                                    <li><a href="register">Register</a></li>
                    {%else%}<li><a href="myprofile">My Profile</a>
                             <li><a href="exit">Exit</a></li>
                                {%endif%}
				
			</ul>
		</nav> <!-- cd-nav -->

		<a class="cd-primary-nav-trigger" href="#0">
			<span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
		</a> <!-- cd-primary-nav-trigger -->
	</header>

	<nav>
		<ul class="cd-primary-nav">
			<li class="cd-label">About us</li>

			<li><a href="#0">The team</a></li>
			<li><a href="#0">Our services</a></li>
			<li><a href="#0">Our projects</a></li>

			<li class="cd-label">Work with us</li>
                        <li><a href="#0">Start a project</a></li>
                            {% if app.session.get('login')==null %}
			
			<li><a href="logare">Join In</a></li>
                        <li><a href="register">Create an account</a></li>
                        {%else%}
                        <li><a href="myprofile">My Profil</a></li>
                        <li><a href="#0">Edit Profil</a></li>
                        <li><a href="exit">Exit</a></li>
                        {%endif%}
			

			<li class="cd-label">Follow us</li>
			
			<li class="cd-social cd-facebook"><a href="#0">Facebook</a></li>
			<li class="cd-social cd-instagram"><a href="#0">Instagram</a></li>
			<li class="cd-social cd-dribbble"><a href="#0">Dribbble</a></li>
			<li class="cd-social cd-twitter"><a href="#0">Twitter</a></li>
		</ul>
	</nav>

	<section class="cd-intro">
		 {% if app.session.get('login')==null %}
        
        {%else%}
    <div class="MyProfile" >
        <h3>My Profile</h3>
        <form method="post">
       <table   border="1" style="width:100%">
             <tr><td><p>Id:</p><td> <p>{{data.id}}</p> </td>         
             <tr><td><p>Username:</p><td> <p>{{data.username}}</p> 
             <tr><td><p>Email:</p><td> <p>{{data.email}}</p> 
             <tr><td><p>Nume:</p><td> <p>{{data.nume}}</p> 
             <tr><td><p>Prenume:</p><td> <p>{{data.prenume}}</p> 
             <tr><td><p>Info:</p><td > <textarea id="info1" cols="40" rows="5" readonly="enabled">{{data.info}}</textarea>  
</table>
</form>
        </div>
{% endif %}
	</section>
<main class="cd-main-content">
		<div class="cd-container">
				
    
    
   
    </div>
  </main>
	
        <script src="{{asset('js/jquery-2.1.1.js')}}"></script>
        <script src="{{asset('js/main.js')}}"></script>
   </body>
  

{% endblock %}


    